*.body
{
	margin: 0;
	padding: 0;
}

.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
.navbar
{
	background-color: #ffffff;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
}

.container
{
	display: table;
	margin: 100px auto 0;
	padding: 10px;
	border: 1px solid #ddd;
	width: 100%;
	max-width: 500px;
}
.div
{
	border-radius: 5px;
	padding: 20px;
}
.input[type = text]
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px;
	border-radius: 4px;
	box-sizing: border-box;
}
.button[type = submit]
{
	width: 100%;
	background-color: #0000FF;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
}
.button[type = submit]:hover
{
	background-color: #0000FF;
}

.jumbotron
{
	padding: 30px;
}

.table
{
	width: 100%;
	border-collapse: collapse;
}

